<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeto7semestre.barbearia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AgendamentoActivity"
            android:label="@string/agendamento_name"
            android:screenOrientation="locked" />
        <activity
            android:name=".ServicosActivity"
            android:label="@string/service_name"
            android:screenOrientation="locked" />
        <activity
            android:name=".AgendaActivity"
            android:label="@string/agenda_name"
            android:screenOrientation="locked" />
        <activity
            android:name=".ProfissionaisActivity"
            android:label="@string/profissionais_name"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>